<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PEOPLE</title>
    <link rel="stylesheet" href="/css/newstyles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <div class='container'>
      <a href='/ppl' ><button type="button" class="btn btn-success" >Go back</button></a>
       <div style='text-align:center'>
                  <h1 class="wh"><%=dat.name%></h1>
                  <div><img style="width:400px;height:300px;" class='ov' src='<%=dat.image%>'></div>
                  <h2 class="wh">Profession :<%=dat.more.prof%></h2>
                  <h3 class="wh">DOB : <%=dat.dob%>(<%=dat.age%>)</h3>

                  <h3 class="wh">Address : <%=dat.more.adress%></h3>
                  <h3 class="wh">Phone : <%=dat.more.phone%></h3>
                  <h3 class="wh">Work: <%=dat.more.work%></h3>


      </div>

     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
